@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}
@font-face {
    font-display: swap;
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/orbitron-v31-latin-regular.woff2") format("woff2");
}

*::after,
*::before,
* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 118, 124, 255);
}

.container {
    margin-top: 150px;
    border-radius: 5px;
    padding: 24px 8px;
    border: 1px black solid;
    background-color: #1e1c1f;
    display: flex;
    flex-direction: column;
}

.container div,
.numbers div {
    flex: 1;
    display: flex;
}

.operator-container,
.numbers {
    display: flex;
    flex-direction: column;
}

.numbers > div > .button {
    flex: 1;
}

.display,
.button,
.display-result {
    border-radius: 5px;
    flex: 1;
    font-size: 32px;
    padding: 12px 18px;
    margin: 8px;
}

.display,
.display-result {
    justify-content: flex-end;
    background-color: #a2af77;
    font-family: Orbitron, sans-serif;
    max-width: 365px;
    overflow: hidden;
}

.button {
    background-color: rgb(46, 46, 46);
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.button:hover {
    background-color: #1e1c1f;
}

.button.equals {
    background-color: #f15a2a;
}

.button.equals:hover {
    background-color: #993719;
}
.guide {
    align-self: flex-start;
    color: white;
    opacity: 50%;
    padding: 0;
    font-size: 16px;
    margin: 0.8rem;
}
p,
h1 {
    margin: 0;
}
